/* .App {
  text-align: center;
}  */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */

html { 
  background: url(https://unsplash.it/1500/2500) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.main-container{
  display: flex;
  flex-direction: column;
}

div.time{
  font-size: 400%;
  display: flex;
  justify-content: left;
}

div.date{
 font-size: 140%;
 display: flex;
 justify-content: left;
}

div.reddit-container {
  background-color: white;
  width: 700px;
  height: 300px;
  overflow-y: scroll;
  scrollbar-width: .1px;
  display: center;
  float: left;
  border-radius: 25px;
  text-align: center;
  flex-direction: column;
}

div.quote-container {
  width: 600px;
  height: 100px;
  border-radius: 25px;
  background-color: #fff;
  text-align: center;
}


div.reddit-container::-webkit-scrollbar { width: 0 !important }